@charset "utf-8";

/* pc해상도일 때 적용되는 서식 */
@media screen and (min-width:1025px) {

  /* toggle버튼, 장바구니, 닫기버튼 숨기기 */
  .total_btn, .cart_btn, .c_btn{display:none;}

/* 콘텐츠 중앙에 배치하기 */
  .h_top, .gnb > ul, .f_top, .f_bottom > ul, .f_bottom > address{
    width:1200px;
    margin:0 auto;
  }

  /* 헤더 서식 */  
  header{
    width:100%;
    height:170px;
    position:absolute;
    z-index:1000;
  }
  .h_top{
    position:relative;
  }

  .h_top h1{
    position:absolute;
    left:10px;top:45px;
  }
  .h_top h1 img{
    width:210px;
  }
  .total_btn{
    left:auto;
    right:5px;
    top:110px;
    font-size:2rem;
  }

  /* lnb서식 */
  .h_top > .lnb{
    position:absolute;
    left:auto;
    right:0px;top:20px;
    width:300px;
  }
  .h_top > .lnb > ul{
    flex-wrap:nowrap;
  }
  .h_top > .lnb > ul > li{background:none;}

  /* 검색폼 서식 */
  fieldset{
    position:absolute;
    right:-15px;top:60px;
    width:500px;
    left:auto;
    text-align:right;
  }

  /* h_bottom 서식 */
  /* .sub(1280px)가 접었다 펴지는게 아니라 .h_bottom(화면전체100%)가 .sub가 펴져있을때 접었다 펴서 .sub가 접었다폈다하는것처럼 보이게 하는 것임 */
  .h_bottom{
    width: 100%; height: 58.8px;
    background: rgba(255,255,255,.8);
    position: absolute;
    top: 130px; left: 0px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1000;
  }
  .h_bottom:hover{height:330px;}
  
  /* gnb서식 */
  .h_bottom:hover{height: 330px;}
  .gnb{
    position:static;
    width: 100%; height: 58.8px; /* .h_bottom높이랑 똑같이, 높이쓰면 색바뀌는거 이해안감 */
    left:0px; top:0px;
    background: #484848;
  }
  .gnb > ul{
    display:flex;
    justify-content:end;
    padding: 0px; /*모바일에있어서*/
    background: #484848;
  }
  .gnb > ul > li{
    border:none;
    padding:0px 3.3%;
    position:relative;
    text-indent:0px;
  }
  .gnb > ul > li > a{font-size:1rem;}
  .gnb > ul > li > a:hover{text-decoration: underline;}
  .gnb > ul > li > a > i.fa-angle-down{
    display:none;
  }
  .gnb > ul > li > a::after{
    width:1px;height:14px;
    background:#fff;
    content:"";
    display:block;
    position:relative;
    top:-28px;left:-40px;
  }
  .gnb > ul > li:last-child{padding-right:0;}
  .gnb > ul > li:first-child > a::after{
    display:none;
  }
  .c_btn{display:none;}
  
  /* 서브메뉴 서식 */
  .sub{
    display:block;
    position:absolute;
    left:0px;top:50px;
    width:100%;height:240px;
    padding:15px 0px;
    text-align:center;
    line-height:210%;
  }
  .sub a{
    padding:0px 3%;
    font-size:0.95rem;
    line-height: 240%; /* 왜 퍼센트 쓰는거지?? */
  }
  .sub a:hover{text-decoration: underline;}









  /* 메인서식 */
  main{padding-top:188px;}
  .s_story > h2{
    display: block;
    text-align: center;
    background-color: #32a18f;
  }
  section:not(.visual){
    padding: 0px 0px;
  }

  /* .s_lnb (tab menu 컨텐츠)*/
  .s_lnb{
  }
  .s_lnb > ul{
    width: 1200px;
    display: flex;
    margin: 0px auto;
    border-bottom: 2px solid #ccc;
    justify-content: space-around;

  }
  .s_lnb > ul > li{}
  /*.s_lnb > ul > li:hover{
    border-bottom: 2px solid #f00;
  }*/
  .s_lnb > ul > li > a{
    display: block;
    line-height: 80px;
    font-size: 20px;
  }
  .s_lnb > ul > li > a:focus{
    color: #9d6849;
  }
  .s_lnb > ul > li > a:focus::after{
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #9d6849;
    transform: translateY(2px);
  }
  .our_story{
    width: 1200px;
    margin: 40px auto;
  }
  .our_credo{
    width: 100%;
    padding: 40px 0px;
    background-color: #da291c;
    text-align: center;
  }
  .our_credo > img{

  }








  /* footer서식 */
  footer{
    background: #989898;}
  .f_top{
      flex-wrap: nowrap;
      flex-direction: row-reverse;
      height: 50px;
  }
  .f_nav{
      width: 35%;
      background: #989898;
      line-height: 50px;
      display: flex;
  }
  .f_nav > a{
    padding: 0px 10px;
  }
  .f_top > dl{
      width: 65%;
      line-height: 50px;
      justify-content: space-between;
      padding: 0px 10px;
  }
  .f_bottom{
    background: #1c1c1c;
  }
  .f_bottom > ul{
    position:relative; /* 검색창,sns 돌아오게 */
    flex-wrap: nowrap;
    display: flex;
  }
  .f_bottom > ul > li > dl{ /*내코드*/
      line-height: 30px;
      padding: 12px 10px;
  }
  .f_bottom > ul > li:first-child{
      order:1;
      width: 150%;
  }
  .f_bottom > ul > li:nth-child(2){
      order:2;
      width: 150%;
  }
  .f_bottom > ul > li:nth-child(3){
      order:4;
  }
  .f_bottom > ul > li:last-child{
      order:3;
  }
  .f_bottom select, .f_bottom li:nth-child(3) a{
    position: absolute;
  }
    .f_bottom select{
      width: 200px;
      right: 200px; top: 20px;
  }
    .f_bottom li:nth-child(3) a{
      right: 10px; top: 10px;
  }
  .f_bottom li:nth-child(3) a:first-child{
      transform: translateX(-100px);
  }
  .f_bottom li:nth-child(3) a:nth-child(2){
      transform: translateX(-50px);
  }

    /* 주소 서식 */
    address > ul{/*내코드*/
        display: flex;
        font-size: 0.85rem;
    }
    address > ul > li:first-child{/*내코드*/
        width: 70%;
        line-height: 20px;
        padding-right: 3%;
    }
    address > ul > li:last-child{/*내코드*/
        width: 30%;
        line-height: 20px;
    }
    address > ul > li > p{
      padding: 0px 10px;
    }
}